<div class="title_container">
  <div class="bg_img"></div>
  <div class="mat-display-3 title">INTERIOR PAINTING</div>
</div>
<div class="container">
  <div class="mat-display-1 paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam
    rem. Qui nemo reiciendis esse rerum mollitia vitae, optio est doloremque.
    Doloribus maiores vero eum perferendis exercitationem quaerat? Animi,
    facilis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa eum
    consequatur nulla expedita est! Minima provident repellendus, ab possimus
    odit sunt dolorem dolore atque ex laboriosam quas eos at aperiam.
  </div>
</div>
