<footer>
  <div class="container">
    <div>
      <h1>SOCIAL MEDIA</h1>
      <li>
        <a href="" target="_blank"
          ><span
            class="iconify"
            data-icon="mdi:instagram"
            data-width="25"
          ></span
        ></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><mat-icon aria-hidden="false" aria-label="luis painting facebook"
            >facebook</mat-icon
          ></a
        >
      </li>
      <li>
        <a href="" target="_blank"
          ><mat-icon aria-hidden="false" aria-label="luis painting whatsapp"
            >whatsapp</mat-icon
          ></a
        >
      </li>
    </div>
    <div>
      <h1>CONTACT</h1>
      <li>Direccion</li>
      <li>Telefono</li>
      <li>Email</li>
    </div>
    <div>
      <h1>LEGAL</h1>
      <li>Copyright&copy; 2022</li>
      <li>All rights reserved</li>
      <li><u>Terms & Conditions</u></li>
    </div>
  </div>
  <div>
    <h2>Created by: OurCompany.com</h2>
  </div>
</footer>
