.navbar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2;
}

img {
  display: flex;
  align-items: center;
}

ul li {
  display: inline;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--text-color-black);
}

.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
