<div class="title_container">
  <div class="bg_img"></div>
  <div class="mat-display-3 title">ABOUT US</div>
</div>
<div class="container">
  <div class="mat-display-1 paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam
    rem. Qui nemo reiciendis esse rerum mollitia vitae, optio est doloremque.
    Doloribus maiores vero eum perferendis exercitationem quaerat? Animi,
    facilis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
    est itaque deleniti! Sunt harum amet, possimus dicta maxime vitae, eum
    facere voluptates adipisci distinctio quam accusantium cumque ipsa. Saepe,
    accusamus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum
    delectus provident ratione illum veritatis sequi sint, molestias nulla, id
    cumque non fugiat totam officiis laborum consequuntur. Eligendi totam omnis
    earum.
  </div>
</div>
